# OS Files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Environment Variables (กันพลาดหลุด)
.env
.env.local
.env.production
.env.development

# Docker
docker-data/
postgres-data/


*.log
node_modules/

# dependencies
node_modules/

# Next.js build output
.next/
out/
build/

# environment variables (ห้ามเอาขึ้น GitHub เด็ดขาด!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.pem

# Go workspace file
go.work
go.work.sum

# build executables
/backend-api
*.exe
*.exe~
*.dll
*.so
*.dylib